
.content
{
    padding: 10px;
    margin-top: 20px;
}
.sidebar
{
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.colorScheme
{
    background-color: beige;
    border-color: #0d3625;
    color:  #0d3625;
}

.header
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0d3625;
    color: beige;
}

.footer
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0d3625;
    width: 100%;
    position:absolute;
    bottom:0;
}
.navigation li , .navigation  p
{
    float: left;
    margin-right: 10px;
    list-style: none;
    color: beige;
}

.navigation a, .navigation a:visited {
    color: beige;
}

.contains_all {
    height: 100%;
}
